<div class="actions">
  <button (click)="action(ViewActions.minusScale)">
    -
  </button>
  <button (click)="action(ViewActions.plusScale)">
    +
  </button>
  <span class="scale-value">{{scale}}%</span>
  <button (click)="action(ViewActions.addText)">
    Add text
  </button>
  <button (click)="action(ViewActions.addImage)">
    Add image
  </button>
  <button (click)="action(ViewActions.save)">
    Save
  </button>
</div>
<div [style.transform]="scaleXY" class="images-container">
  @for (annotation of annotations; track annotation.id) {
    <annotation [annotation]="annotation" (updateAnnotationEmmiter)="updateAnnotation($event)" (removeTextEmmiter)="removeText($event)"></annotation>
  }
  <images [pages]="pages"></images>
</div>

