@import "../../../../assets/styles/main.scss";

.actions {
  background-color: $grey;
  position: fixed;
  top: 49px;
  z-index: 1;
  width: 100%;
  padding: 5px 5px 5px;

  .scale-value, button {
    margin-right: 5px;
    min-width: 40px;
    padding: 5px;
    color: $grey;
    background-color: $grey-blue;
  }
}

.images-container {
  margin: auto;
  width: fit-content;
  transform-origin: top;
  padding-top: 88px;
  transition: all 0.3s ease-out;
}
