@import "../../../../../assets/styles/main.scss";
.info {
  padding-top: 50px;
  width: 100%;
  text-align: center;
  margin: 10px 0 10px;
  font: 20px;
  color: $grey;
  font-size: 20px;
  font-weight: bold;
}

.files-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;

  .preview {
    @include fadeIn;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.6);
    z-index: 2;

    .close-preview {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: $white;
      background-color: $grey;
      font-weight: bold;
      padding: 5px;
    }

    .file- {
      &container {
        height: calc(100% - 40px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &image {
        height: 100%;
        width: 100%;
      }
    }
  }
}
