@import "../../../../../assets/styles/main.scss";

.files-container, .info {
  text-align: center;
  font-weight: 700;
  width: 100%
}

.info {
  padding-top: 50px;
  margin: 10px 0;
  color: $grey;
  font-size: 20px
}

.files-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  top: 0;
  right: 0;
  background-color: rgba(128,128,128,.6);
  z-index: 2;
  left: 0;
  bottom: 0;
  color: $white;
  background-color: $grey;
  padding: 5px
}

.file- {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

&image {
  height: 100%;
  width: 100%
}
